<div class="container p-4 mx-auto bg-white dark:bg-gray-900">
  <h1 class="pb-4 my-8 text-4xl font-bold">Admin Login</h1>
  <%= form_tag admin_sessions_path do %>
    <%= label_tag "Email", nil, class: "block mb-2" %>
    <%= text_field_tag :email, nil, placeholder: "Email", class: "block mb-5 text-black p-1"%>
    <%= label_tag "Password", nil, class: "block mb-2" %>
    <%= password_field_tag :password, nil, placeholder: "Password", class: "block mb-5 text-black p-1" %>
    <%= submit_tag "Log In", class: "dark:bg-gray-900 p-1 border rounded dark:border-white"%>
  <% end %>
<div>
