<header class="items-center p-4 pb-10 lg:flex">
  <div class="text-3xl font-extrabold tracking-tighter text-transparent bg-clip-text bg-gradient-to-r from-red-500 to-blue-500 lg:flex-grow">
    <a href="/">Ana Nunes da Silva</a>
  </div>

  <div class="lg:flex-grow lg:text-right text-md lg:text-xl">
    <ul class="tracking-tight">
      <li class="inline">
        <%= link_to 'About', about_path, method: :get, class: "py-4 pr-4 lg:px-6" %>
      </li>
      <li class="inline">
        <%= link_to 'Posts', posts_path, method: :get, class: "py-4 pr-4 lg:px-6" %>
      </li>
      <% if current_user %>
        <li class="inline">
          <%= link_to 'Preview', admin_posts_path, method: :get, class: "py-4 pr-4 lg:px-6" %>
        </li>
        <li class="inline">
          <%= link_to 'New Post', admin_new_post_path, method: :get, class: "py-4 pr-4 lg:px-6" %>
        </li>
        <li class="inline">
          <%= link_to 'Dashboard', admin_analytics_path, method: :get, class: "py-4 pr-4 lg:px-6" %>
        </li>
        <li class="inline">
          <%= link_to 'Logout', admin_logout_path, method: :get, class: "py-4 pr-4 lg:px-6" %>
        </li>
      <% end %>
    </ul>
  </div>
</header>
