<div class="sm:w-full md:w-full lg:w-1/3 xl:w-1/3 mb-6 sm:px-2 lg:px-4 pb-12">
  <article class="overflow-hidden">
    <% if post.cover_image.attached? %>
      <%= image_tag post.cover_image.variant(resize_to_limit: [300, 300]), class: 'h-full w-full cursor-pointer' %>
    <% end %>
    <div class="bg-white px-4 pt-4">
      <h1 class="font-extrabold sm:text-4xl lg:text-2xl tracking-wide hover:underline mb-1">
        <%= link_to post.title, post %>&nbsp<%= '[PREVIEW]' if post.draft? %>
      </h1>
      <p class="text-gray-600 sm:text-lg lg:text-sm mb-2">
        <%= post.published_at.strftime('%b, %Y') %>
      <p>
      <p class="text-gray-800 sm:text-2xl lg:text-base mb-4">
        <%= post.intro %><br>
        <%= link_to 'Keep reading >>', link_to_post(post), class: "hover:underline sm:text-2xl lg:text-sm font-bold uppercase text-indigo-700"%>
      </p>
    </div>
  </article>
</div>
