<div class="bg-white container mx-auto p-4">
  <h1 class="text-xl pb-4">New Post</h1>
  <%= form_with(model: [:admin, @post]) do |form| %>
    <div class="form-group pb-4 mb-2">
      <%= form.label :title, class: "pr-2" %>
      <%= form.text_field :title,
        required: true,
        class: "block w-1/2 border border-gray-500 rounded focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="form-group pb-4">
      <%= form.label :cover, class: "pr-2" %>
      <%= form.file_field :cover_image,
        class: "block w-1/2 border border-gray-500 rounded focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="form-group pb-4">
      <%= form.label :tags, class: "pr-2" %>
      <%= form.text_field :tags, value: @post.tags.pluck(:name).join(', '), placeholder: 'Tags separated with comma',
        class: "block w-1/2 border border-gray-500 rounded focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="form-group pb-4">
      <%= form.label :intro, class: "pr-2" %>
      <%= form.text_area :intro,
        required: true,
        class: "block w-full border border-gray-500 rounded focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="form-group pb-4">
      <%= form.label :body %>
      <%= form.rich_text_area :body, class: "h-auto" %>
      <%= form.submit :save,
        class: "border border-gray-500 rounded p-2 cursor-pointer mt-2" %>
    </div>
  <% end %>
</div>
