<div class="container p-4 mx-auto bg-white dark:bg-gray-900 lg:m-auto lg:w-3/4">
  <h1 class="pb-4 my-8 text-4xl font-bold">New Post</h1>
  <%= form_with(model: [:admin, @post]) do |form| %>
    <div class="pb-4 mb-2">
      <%= form.label :title %>
      <%= form.text_field :title,
        required: true,
        class: "text-black block w-1/2 border border-gray-500 rounded focus:outline-none focus:shadow-outline p-2" %>
    </div>
    <div class="pb-4">
      <%= form.label :cover %>
      <%= form.file_field :cover_image,
        class: "block w-1/2 border border-gray-500 rounded focus:outline-none focus:shadow-outline p-2" %>
    </div>
    <div class="pb-4">
      <%= form.label :tags %>
      <%= form.text_field :tags, value: @post.tags.pluck(:name).join(', '), placeholder: 'Tags separated by commas',
        class: "text-black block w-1/2 border border-gray-500 rounded focus:outline-none focus:shadow-outline p-2" %>
    </div>
    <div class="pb-4">
      <%= form.label :keywords %>
      <%= form.text_field :keywords, value: @post.keywords, placeholder: 'words or expressions separated by commas',
        class: "text-black block w-1/2 border border-gray-500 rounded focus:outline-none focus:shadow-outline p-2" %>
    </div>
    <div class="pb-4">
      <%= form.label :intro %>
      <%= form.text_area :intro,
        required: true,
        class: "text-black p-2 block w-full h-28 border border-gray-500 rounded focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="pb-4">
      <%= form.label :markdown_body %>
      <%= form.text_area :markdown_body, class: "block p-2 border border-gray-500 bg-white text-black content focus:outline-none h-80 w-full" %>
      <%= form.submit :save,
        class: "block bg-green border border-gray-500 rounded p-1 cursor-pointer mt-4 dark:bg-gray-900 dark:border-white" %>
    </div>
  <% end %>
</div>
