<%
  meta_title "#{@post.title}"
  meta_keywords "#{@post.tags.pluck(:name).join(", ")}"
  meta_description truncate(strip_tags(@post.intro), length: 200)
%>
<article>
  <% if @post.cover_image.attached? %>
    <%= image_tag @post.cover_image.variant(resize_to_fill: [1200, 600]).processed, class: 'w-full cursor-pointer' %>
  <% end %>
  <div class="container mx-auto">
    <header class="relative bg-white lg:pt-8 sm:pt-8 lg:pb-40 lg:px-16 sm:px-12 lg:mx-56 post-intro">
      <% if current_page?(admin_post_path(@post)) %>
        <% if @post.draft? %>
          <%= button_to "Publish", admin_publish_post_path(id: @post.id), method: :put,
            class: "float-right bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded mx-2"  %>
        <% end%>
        <%= button_to "Delete", admin_destroy_post_path(id: @post.id), method: :delete,
          class: "float-right bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mx-2"  %>
        <%= button_to "Edit", admin_edit_post_path(id: @post.id), method: :get,
          class: "float-right bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mx-2"  %>
      <% elsif @post.published? && current_page?(admin_post_path(@post)) %>
        <%= button_to "Unpublish", admin_unpublish_post_path(id: @post.id), method: :put,
          class: "float-right bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded"  %>
      <% end %>
      <% @post.tags.each do |tag| %>
        <p class="inline-block text-left text-lg font-bold text-indigo-800 tracking-wide mb-2 mr-1">
          <%= tag.name %>
        </p>
      <% end %>

      <p class="inline-block text-left sm:text-lg lg:text-sm text-gray-600 tracking-wide mb-2">
        <%= @post.created_at.strftime('%b, %Y')%>
      </p>

      <h1 class="font-black sm:text-5xl lg:text-4xl tracking-wide mb-8">
        <%= @post.title %> <%= '[PREVIEW]' if @post.draft? %>
      </h1>

      <div class="sm:text-2xl lg:text-lg font-bold pt-6 pb-2 border-t border-b border-indigo-700 mb-8">
        <%= @post.intro %>
        </br>
        <div class="text-right text-indigo-700">
          <a class="sm:text-lg lg:text-sm font-normal underline"
             href="<%= twitter_share_url(@post) %>">Share</a>
          <i class="fab fa-twitter sm:text-lg lg:text-sm"></i>
        </div>
      </div>
    </header>

    <div class="relative block">
      <div class="sm:text-2xl lg:text-lg font-normal lg:px-16 sm:px-8 lg:mx-56 lg:-mt-40">
        <%= @post.body %>
      </div>
      <div class="absolute text-3xl pt-12 pl-32 top-0 left-0 text-indigo-700 lg:block sm:hidden">
        <ul class="sticky top-0">
          <li class="block">
            <a href="<%= twitter_share_url(@post) %>" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </li>
          <li class="block">
            <a href="<%= linkedin_share_url(@post) %>" target="_blank">
              <i class="fab fa-linkedin"></i></li>
            </a>
            <li class="block">
              <a href="<%= facebook_share_url(@post) %>" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            </li>
        </ul>
      </div>
      </div>
      </div>
    </div>
  </div>
</article>
