<% content_for :meta_title, @post.title %>
<% content_for :meta_description, @post.intro %>
<% content_for :meta_keywords, "#{@post.tags.pluck(:name).join(", ")}" %>
<% content_for :meta_image, url_for(@post.cover_image.variant(resize_to_fill: [1200, 600])) %>

<article class="my-8 lg:my-0">
  <% if @post.cover_image.attached? %>
    <%= image_tag @post.cover_image.variant(resize_to_fill: [1200, 600]).processed, class: 'w-full cursor-pointer' %>
  <% end %>
  <div class="container mx-auto">
    <header class="pt-8 bg-white dark:bg-gray-900 lg:relative lg:pt-8 lg:pb-40 lg:px-16 lg:mx-56 post-intro">
      <% if current_page?(admin_post_path(@post)) %>
        <%= render partial: 'shared/admin_edit_buttons', locals: { post: @post } %>
      <% end %>
      <% @post.tags.each do |tag| %>
        <p class="inline-block mb-2 mr-1 text-3xl font-bold tracking-wide text-left text-indigo-700 rounded-sm dark:hover-text-indigo-600 hover:text-indigo-800 dark:text-indigo-500 lg:text-lg">
          <%= link_to tag.name, posts_path(tag: tag.name)  %>
        </p>
      <% end %>

      <p class="inline-block mb-2 text-2xl text-left text-gray-600 lg:tracking-wide lg:text-sm">
        <%= @post.published_at&.strftime('%b, %Y')%>
      </p>

      <h1 class="mb-8 text-6xl font-black tracking-wide lg:text-4xl">
        <%= @post.title %> <%= '[PREVIEW]' if @post.draft? %>
      </h1>

      <div class="pt-6 pb-2 mb-8 text-5xl font-bold border-t border-b border-indigo-700 dark:border-indigo-500 lg:text-lg">
        <%= @post.intro %>
        </br>
        <div class="text-right text-indigo-700 dark:text-indigo-500">
          <a class="font-normal underline sm:text-lg lg:text-sm hover:text-indigo-800 dark:hover:text-indigo-600"
             href="<%= share_post_url(@post, 'twitter') %>", target="_blank" >Share</a>
          <i class="fab fa-twitter sm:text-lg lg:text-sm"></i>
        </div>
      </div>
    </header>

    <div class="lg:block lg:relative">
      <div class="text-5xl font-normal lg:text-lg lg:px-16 lg:mx-56 lg:-mt-40 lg:mb-20">
        <%= @post.body %>
      </div>
      <div class="absolute top-0 left-0 pt-12 pl-32 text-3xl text-indigo-700 dark:text-indigo-600 lg:block sm:hidden">
        <ul class="sticky top-0">
          <li class="block">
            <a href="<%= share_post_url(@post, 'twitter') %>" target="_blank">
              <i class="fab fa-twitter-square hover:text-indigo-800"></i>
            </a>
          </li>
          <li class="block">
            <a href="<%= share_post_url(@post, 'linkedin') %>" target="_blank">
              <i class="fab fa-linkedin hover:text-indigo-800"></i></li>
            </a>
            <li class="block">
              <a href="<%= share_post_url(@post, 'facebook') %>" target="_blank">
                <i class="fab fa-facebook-square hover:text-indigo-800"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="pt-12 mb-20 text-6xl text-indigo-700 lg:hidden">
        <ul class="">
          <li class="inline mr-8">
            <a href="<%= share_post_url(@post, 'twitter') %>" target="_blank">
              <i class="fab fa-twitter-square hover:text-indigo-800"></i>
            </a>
          </li>
          <li class="inline mr-8">
            <a href="<%= share_post_url(@post, 'linkedin') %>" target="_blank">
              <i class="fab fa-linkedin hover:text-indigo-800"></i></li>
            </a>
            <li class="inline mr-8">
              <a href="<%= share_post_url(@post, 'facebook') %>" target="_blank">
                <i class="fab fa-facebook-square hover:text-indigo-800"></i>
            </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</article>
