<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogBackoffice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:700|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/build/tailwind.css">
  </head>

  <body class="bg-gray-100">
    <header class="text-gray-900">
      <nav class="flex flex-wrap p-4 font-semibold items-center justify-between">
        <%= render partial: 'shared/navbar' %>
      </nav>
      
      <section class="pt-8 pb-16 lg:pt-16 lg:pb-16">
        <%= render partial: 'shared/about' if current_page?(posts_path) %>
      </section>
    <header>

    <section>
      <div class="container mx-auto pt-2">
        <%= yield %>
      <div>
    </section>
  </body>
</html>
