<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogBackoffice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:700|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="/build/tailwind.css">
  </head>

  <body class="bg-white font-sans">
    <header class="text-gray-900">
      <nav class="flex flex-wrap p-4 font-semibold items-center justify-between">
        <%= render partial: 'shared/navbar' %>
      </nav>
    <header>

    <section>
      <div class="mx-auto">
        <%= yield %>
      <div>
    </section>
  </body>
</html>
