<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogBackoffice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'shared/meta_tags' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:700|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="/build/tailwind.css">
  </head>

  <body class="bg-white font-sans min-h-screen flex flex-col mb-20">
    <div class="flex-grow">
      <header class="text-gray-900">
        <%= render partial: 'shared/navbar' %>
      <header>

      <section>
        <%= yield %>
      </section>

      <%= render partial: 'shared/footer' %>
    </div>
  </body>
</html>
