<!DOCTYPE html>

<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'shared/meta_tags' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= auto_discovery_link_tag :rss, rss_feed_url(format: :rss), title: 'Ana Nunes da Silva' %>

    <script async defer data-domain="ananunedasilva.com" src="https://plausible.io/js/plausible.js"></script>

    <link rel="stylesheet" href="/build/tailwind.css">

    <% if @post.present? && @post.slugs.size > 1 %>
      <link rel="canonical" href=<%= "https://www.ananunesdasilva.com/posts/#{@post.slugs.first.slug}" %>>
    <% end %>

    <%= favicon_link_tag asset_path('ana_nunes_da_silva_web_developer_ruby_rails.jpg') %>
  </head>

  <body class="flex flex-col min-h-screen font-sans bg-white dark:bg-gray-900" data-controller="application">
    <div class="flex-grow">
      <header class="text-gray-900 dark:text-gray-300">
        <%= render partial: 'shared/navbar' unless @skip_navbar %>
      <header>

      <section>
        <%= yield %>
      </section>
    </div>
    <%= render partial: 'shared/footer' unless @skip_footer%>
  </body>
</html>
